{% extends "base.html" %}

{% block title %}Контакты{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='flip.css') }}">
{% endblock %}

{% block content %}
    <div class="flip-box container my-5 w-50">
        <div class="flip-box-inner">
            <div class="flip-box-front shadow">
                <h2>
                    github repo
                    <img src="{{ url_for('static', filename='GitHub-Mark-Light-120px-plus.png') }}"
                         alt="https://github.com/mansur-gabidullin/learn-python-lesson-18">
                </h2>
            </div>
            <div class="flip-box-back shadow">
                <h2>
                    <a href="https://github.com/mansur-gabidullin/learn-python-lesson-18">
                        https://github.com/mansur-gabidullin/learn-python-lesson-18
                    </a>
                </h2>
            </div>
        </div>
    </div>
{% endblock %}