{% extends "base.html" %}

{% block title %}Главная{% endblock %}

{% block content %}
    <h1>Поиск вакансий на hh.ru</h1>
    <p class="lead">С помощью этого приложения можно искать вакансии на сайте hh.ru</p>
    <p>Что нужно сделать:</p>
    <ul>
        <li>выбрать регион</li>
        <li>написать название вакансии</li>
        <li>запустить поиск</li>
    </ul>
    <div class="container">
        <a href="{{ url_for('form') }}" class="btn btn-primary">Попробовать</a>
    </div>
{% endblock %}